/* Body */
body {
  font: 1.0em Georgia, "Times New Roman", serif;
  background: #fff none repeat scroll 0% 0%;
  color: #777; }
table {
  width: 100%; }
th {
  text-align: center;
  border-bottom: 1px solid #ddd; }
tr:nth-child(2n) {
  background-color: #f8f8f8; }
td {
  text-align: center;
  border: none;
  /*border: none;
  padding-left: 0px; */}
td:first-child {
  border: none;
  padding-left: 0px; }
/*
code {
  display: block; }
*/
h1, h2, h3, h4, h5, h6 {
  margin-top: 0px;
  margin-bottom: 5px }
h1, #main-date {
  padding: 0 0 15px 10px;
  font-style: italic; }
h1 {
  padding-bottom: 0;
  margin-bottom: 0;
  font-size: 2.56rem; }
h2 {
  font-size: 2.15rem; }
h3 {
  font-size: 1.8rem; }
h4 {
  font-size: 1.7rem; }
hr {
  margin: 1.25rem 0;
  border-width: 1px 0 0;
  border-style: solid;
  border-color: #e1e1e1; }
a {
  color: #d40000;
  text-decoration: none; }
a:hover {
  color: #8F0000; }

ul li ul li {
  list-style: outside;
}

#main-body pre {
  margin-bottom: 2.5rem;
}

/* Global */
.hidden {
  opacity: 0; }

/* Header */
body > #header {
  color: #888;
  width: 100%; }
#main-title p { margin-bottom: 0; }
#header .logo > p {
  margin-bottom: 0;
  line-height: 3.2em;
  letter-spacing: 0;
  font-size: 3.2em;
  font-style: italic; }
#header nav {
  text-align: right; }
#header nav ul {
  margin-bottom: 0; }
#header nav ul li {
  margin-bottom: 0;
  padding: 3.2em 0;
  display: inline-block;
  font-size: 1.6em;
  line-height: 0; }
#header nav ul li a {
  color: #888;
  text-decoration: none;
  padding: 0.75em 2em; }
#header nav ul li a:hover {
  color: #8f0000; }
#header nav ul li:last-child a {
  padding-right: 0; }
#header nav ul li a.btn {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px; /* border radius */
  border: 2px solid #fff; }
#header nav ul li a.btn:hover {
  background: #fff;
  color: #009be8; }
body.has-docked-nav #header nav.navbar {
  margin: 0;
  border-bottom: 1px solid #ddd;
  text-align: center; }
body.has-docked-nav #header nav.navbar ul li a {
  color: #888; }
.wrapper {
  padding: 4em 0px 0px; }
#header .container {
  margin: 5px auto 0;
  border-bottom: 1px solid #ddd; }
#description {
  margin-top: 5rem; }
.has-docked-nav .navbar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: #fff none repeat scroll 0% 0%;
  z-index: 2; }
/* Mobile Menubar */
.mob.nine.columns {
  display: none; }

/* Container */
.container {
  width: 95%;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 10px; }
.header {
  margin-top: 6rem;
  text-align: center; }
.value-prop {
  margin-top: 1rem; }
.value-props {
  margin-top: 4rem;
  margin-bottom: 4rem; }
.docs-header {
  text-transform: uppercase;
  font-size: 1.4rem;
  letter-spacing: .2rem;
  font-weight: 600; }
.docs-section {
  border-top: 1px solid #eee;
  padding: 4rem 0;
  margin-bottom: 0;}
.value-img {
  display: block;
  text-align: center;
  margin: 2.5rem auto 0; }
.example-grid .column,
.example-grid .columns {
  background: #EEE;
  text-align: center;
  border-radius: 4px;
  font-size: 1rem;
  text-transform: uppercase;
  height: 30px;
  line-height: 30px;
  margin-bottom: .75rem;
  font-weight: 600;
  letter-spacing: .1rem; }
.docs-example .row,
.docs-example.row,
.docs-example form {
  margin-bottom: 0; }
.docs-example h1,
.docs-example h2,
.docs-example h3,
.docs-example h4,
.docs-example h5,
.docs-example h6 {
  margin-bottom: 1rem; }
.heading-font-size {
  font-size: 1.2rem;
  color: #999;
  letter-spacing: normal; }
.code-example {
  margin-top: 1.5rem;
  margin-bottom: 0; }
.code-example-body {
  white-space: pre;
  word-wrap: break-word }
.section {
  position: relative;
  margin: 3rem 0; }
.avatar-wrapper {
  display: block;
  position: relative;
  overflow: hidden;
  cursor: default; }
.integral {
  font-size: 190px; }
.initial {
  font-size: 136px; }
.avatar {
  width: 100%;
  height: auto; }
.info {
  font-size: 1.15rem; }

/* Article layer */
.shimmer-layer {
  position: absolute;
  top: 3px;
  display: block;
  height: auto;
  width: 61.3333%;
  height: auto;
  z-index: -1; }

/* Article */
.main-article {
  padding-left: 30px; }
.main-article div > p {
  margin: 0px 0px 15px;
  font-size: 1.28rem;
  line-height: 1.7em; }
#main-date {
  border-bottom: 1px solid #ddd; }
#main-body ul {
  list-style: circle;
  margin-left: 20px; }
#main-body blockquote {
  border-left: 4px solid #ddd;
  margin-left: 10px;
  padding-left: 15px;
  color: #aaa; }
.short-article {
  height: 100px;
  margin-top: 2rem; }
.short-article h3 a {
  color: #222;
  font-size: 1.96rem; }
.short-article a:hover {
  color: #8f0000; }
.short-article p {
  margin-bottom: 0;
  font-size: 1.15rem;
  line-height: 1.7em; }
.short-article:nth-child(3n+1) {
  margin-left: 0; }
.short-article:last-child {
  margin-bottom: 1.5rem; }

/* Footer */
#footer .container {
  border-top: 1px solid #ddd; }
#footer p {
  margin-bottom: 0;
  font-size: 1.15rem;
  line-height: 1.7em; }

/* Smaller than phone */
@media (max-width: 550px) {
  /* Navbar */
  #header .container .three.columns {
    width: 50%; }
  .avatar-wrapper {
    position: absolute; }
  .avatar {
    width: 20%; }
  .integral {
    font-size: 42px; }
  .initial {
    font-size: 30px; }
  .main-article {
    padding-left: 0px; }
  h1, #main-date {
    padding-left: 65px; }
  .shimmer {
    margin-left: 53px; }
}

/* Larger than phone */
@media (min-width: 550px) {
  .header {
    margin-top: 18rem; }
  .content.section {
    margin: 1.5rem 0rem; }
  .value-props {
    margin-top: 9rem;
    margin-bottom: 7rem; }
  .value-img {
    margin-bottom: 1rem; }
  .example-grid .column,
  .example-grid .columns {
    margin-bottom: 1.5rem; }
  .docs-section {
    padding: 6rem 0; }
  .example-send-yourself-copy {
    float: right;
    margin-top: 12px; }
  .example-screenshot-wrapper {
    position: absolute;
    width: 48%;
    height: 100%;
    left: 0;
    max-height: none; }

  /* Navbar */
  .navbar + .docs-section {
    border-top-width: 0; }
  .navbar,
  .navbar-spacer {
    display: block;
    width: 100%;
    z-index: 99; }
  .navbar-spacer {
    display: none;
    background: transparent; }
  .navbar > .container {
    width: 100%; }
  .navbar-list {
    list-style: none;
    margin-bottom: 0; }
  .navbar-item {
    position: relative;
    float: left;
    margin-bottom: 0; }
  .navbar-link {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: .2rem;
    margin-right: 35px;
    text-decoration: none;
    line-height: 6.5rem;
    color: #222; }
  .navbar-link.active {
    color: #33C3F0; }
  .has-docked-nav .navbar-spacer {
    display: block; }
  /* Re-overiding the width 100% declaration to match size of % based container */
  .has-docked-nav .navbar > .container {
    width: 80%; }
  .container .nine.columns {
    width: 74%; }
}

@media (max-width: 570px) {
  #header nav {
    text-align: center; }
  #header nav ul li:last-child a {
    padding: 0.75em 2em; }
  .container .nine.columns {
    /* display: none; */
    width: 100%;
    margin-left: 0; }
  .content.section {
    margin: 1.5rem 0px; }
  /* Mobile Menubar */
  .mob.nine.columns {
    width: 10%;
    display: block; }
  .menu-bar {
    height: 18px;
    padding: 4em 0;
    width: 22px;
    cursor: pointer; }
  .menu-bar .bar {
    display: block;
    width: 22px;
    height: 3px;
    background-color: #888;
    margin-bottom: 3px;
    transition: all 275ms ease 0s; }
}

@media (max-width: 780px) {
  .content .two-thirds.column {
    width: 100%; }
  .avatar-wrapper {
    position: absolute; }
  .avatar {
    width: 20%; }
  .integral {
    font-size: 42px; }
  .initial {
    font-size: 30px; }
  .main-article {
    padding-left: 0px;
    margin-left: 0px; }
  h1, #main-date {
    padding-left: 65px; }
  .shimmer {
    margin-left: 53px; }
}

/* Larger than tablet */
@media (min-width: 750px) {
  /* Navbar */
  .navbar + .docs-section {
    border-top-width: 0; }
  .navbar,
  .navbar-spacer {
    display: block;
    width: 100%;
    height: auto;
    z-index: 99;
    line-height: 6.5rem; }
  .navbar-spacer {
    display: none;
    background: transparent; }
  .navbar > .container {
    width: 100%; }
  .navbar-list {
    list-style: none;
    margin-bottom: 0; }
  .navbar-item {
    position: relative;
    float: left;
    margin-bottom: 0; }
  .navbar-link {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: .2rem;
    margin-right: 35px;
    text-decoration: none;
    line-height: 6.5rem;
    color: #222; }
  .navbar-link.active {
    color: #33C3F0; }
  .has-docked-nav .navbar-spacer {
    display: block; }
  /* Re-overiding the width 100% declaration to match size of % based container */
  .has-docked-nav .navbar > .container {
    width: 80%; }

  /* Popover */
  .popover.open {
    display: block;
  }
  .popover {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    border: 1px solid #eee;
    border-radius: 4px;
    top: 92%;
    left: -50%;
    -webkit-filter: drop-shadow(0 0 6px rgba(0,0,0,.1));
       -moz-filter: drop-shadow(0 0 6px rgba(0,0,0,.1));
            filter: drop-shadow(0 0 6px rgba(0,0,0,.1)); }
  .popover-item:first-child .popover-link:after,
  .popover-item:first-child .popover-link:before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none; }
  .popover-item:first-child .popover-link:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #fff;
    border-width: 10px;
    margin-left: -10px; }
  .popover-item:first-child .popover-link:before {
    border-color: rgba(238, 238, 238, 0);
    border-bottom-color: #eee;
    border-width: 11px;
    margin-left: -11px; }
  .popover-list {
    padding: 0;
    margin: 0;
    list-style: none; }
  .popover-item {
    padding: 0;
    margin: 0; }
  .popover-link {
    position: relative;
    color: #222;
    display: block;
    padding: 8px 20px;
    border-bottom: 1px solid #eee;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.0rem;
    font-weight: 600;
    text-align: center;
    letter-spacing: .1rem; }
  .popover-item:first-child .popover-link {
    border-radius: 4px 4px 0 0; }
  .popover-item:last-child .popover-link {
    border-radius: 0 0 4px 4px;
    border-bottom-width: 0; }
  .popover-link:hover {
    color: #fff;
    background: #33C3F0; }
  .popover-link:hover,
  .popover-item:first-child .popover-link:hover:after {
    border-bottom-color: #33C3F0; }
}

/* Float either direction */
.u-pull-right {
  float: right; }
.u-pull-left {
  float: left; }
