@keyframes placeHolderShimmer{
  0%{
    background-position: -468px 0;
  }
  100%{
    background-position: 468px 0;
  }
}
.shimmer,
.shimmer-content {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  margin-bottom: 19px;
  position: relative;
  background: #f6f7f8;
  background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  background-size: 800px 104px; }
.shimmer {
  height: 64px;
  border-bottom: 1px solid #ddd; }
.shimmer-content {
  height: 100px; }
.shimmer-masker {
  background: #fff;
  position: absolute; }

/* Every thing below this is just positioning */
.shimmer-masker.header-top,
.shimmer-masker.header-bottom,
.shimmer-masker.subheader-bottom {
  top: 0;
  left: 0;
  right: 0;
  height: 10px; }
.shimmer-masker.header-left,
.shimmer-masker.subheader-left,
.shimmer-masker.header-right,
.shimmer-masker.subheader-right {
  left: 0;
  height: 25px;
  width: 10px; }
.shimmer-masker.header-bottom {
  top: 24px;
  height: 7px; }
.shimmer-masker.subheader-left,
.shimmer-masker.subheader-right {
  top: 31px;
  height: 14px; }
.shimmer-masker.header-right,
.shimmer-masker.subheader-right {
  width: auto;
  left: 150px;
  right: 0; }
.shimmer-masker.subheader-right {
  left: 140px; }
.shimmer-masker.subheader-bottom {
  top: 45px;
  height: 19px; }
.shimmer-masker.content-top,
.shimmer-masker.content-second-line,
.shimmer-masker.content-third-line,
.shimmer-masker.content-fourth-line,
.shimmer-masker.content-fifth-line,
.shimmer-masker.content-second-end,
.shimmer-masker.content-third-end,
.shimmer-masker.content-first-end,
.shimmer-masker.content-fourth-end,
.shimmer-masker.content-fifth-end {
  top: 40px;
  left: 0;
  right: 0;
  height: 9px; }
.shimmer-masker.content-top {
  height:20px; }
.shimmer-masker.content-first-end,
.shimmer-masker.content-second-end,
.shimmer-masker.content-third-end,
.shimmer-masker.content-fourth-end,
.shimmer-masker.content-fifth-end {
  width: auto;
  left: 442px;
  right: 0;
  top: 0;
  height: 13px; }
.shimmer-masker.content-second-line  {
 top: 13px; }
.shimmer-masker.content-second-end {
  left: 452px;
  top: 22px; }
.shimmer-masker.content-third-line {
  top: 35px; }
.shimmer-masker.content-third-end {
  left: 423px;
  top: 44px; }
.shimmer-masker.content-fourth-line {
  top: 56px; }
.shimmer-masker.content-fourth-end {
  left: 450px;
  top: 65px; }
.shimmer-masker.content-fifth-line {
  top: 78px; }
.shimmer-masker.content-fifth-end {
  left: 114px;
  top: 87px; }

/* Article Animation */
.article-layer,
.shimmer-layer {
  -webkit-transition: opacity 300ms ease-in-out;
  -moz-transition: opacity 300ms ease-in-out;
  -ms-transition: opacity 300ms ease-in-out;
  -o-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out; }

.article-layer.no-anim,
.shimmer-layer.no-anim {
  transition: none; }
